@require 'vendor/*'

/*------------------------------------------------------------------*/
/*                       Distributor Grid                           */
/*------------------------------------------------------------------*/

@require 'styles/colors'
@require 'styles/*'

body
	background url('../img/noise.jpg') repeat



