primary-red = #e03a3e
primary-grey = #4d4d4d
secondary-grey = #6e6e6e
light-grey = #cccccc

h1, h2, h3, h4, h5, h6
	color primary-grey
	font-size 1.4em

p 
	color secondary-grey

strong 
	color secondary-grey
