@font-face {
  font-family: 'TradeGothic_CnBd';
  src: url("../fonts/tradegothicltstd-bdcn20-webfont.eot");
  src: url("../fonts/tradegothicltstd-bdcn20-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tradegothicltstd-bdcn20-webfont.woff") format("woff"), url("../fonts/tradegothicltstd-bdcn20-webfont.ttf") format("truetype"), url("../fonts/tradegothicltstd-bdcn20-webfont.svg#trade_gothic_lt_std_cnbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TradeGothic_Italic';
  src: url("../fonts/tradegothicltstd-obl-webfont.eot");
  src: url("../fonts/tradegothicltstd-obl-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tradegothicltstd-obl-webfont.woff") format("woff"), url("../fonts/tradegothicltstd-obl-webfont.ttf") format("truetype"), url("../fonts/tradegothicltstd-obl-webfont.svg#trade_gothic_lt_stditalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'TradeGothic';
  src: url("../fonts/tradegothicltstd-webfont.eot");
  src: url("../fonts/tradegothicltstd-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/tradegothicltstd-webfont.woff") format("woff"), url("../fonts/tradegothicltstd-webfont.ttf") format("truetype"), url("../fonts/tradegothicltstd-webfont.svg#trade_gothic_lt_stdregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body 
  font-size 125%

*
    font-family 'TradeGothic', sans-serif

h1 
  font-size 2.5em

h1.site-title 
  font-size 6em
  margin-top 0.5em
  padding 0
  letter-spacing 0.05em
p.tagline 
  font-size 1.3em
  text-align right
  margin-top 3.4em

p.body-copy
  font-size 1.2em
  line-height 1.5em 
